.container{
    /* max-width: fit-content; */
    margin: 10px 0px;
    padding: 3px;
}
/* .top{
    background-color: orange;
}
.middle{
    align-content: center;
}
.bottom{
    background-color: green;
} */